.post-card {
    display: block;

    &__title {
        margin-top: 0;
        clear: both;
        margin-bottom: 8px;
        font-size: $font-size-h4;
        line-height: 24px;
        font-weight: $font-weight-bold;
    }

    &__inside {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__media {
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &__content {
        background-color: $color-white;
        padding: 28px;
        box-shadow: 8px 8px 0 $color-border;
        display: flex;
        flex-direction: column;

    }

    &__meta {
        display: flex;
        flex-direction: row;
        font-family: $font-sans-serif;
        font-weight: $font-weight-regular;
        text-transform: uppercase;
        font-size: $font-size-tiny;
        color: $color-gray;
        // align-items: center;
    }

    &__avatar {
        width: 30px;
        height: 30px;
        margin-right: 8px;

        img {
            border-radius: 50%;
        }
    }

    &__author {
        margin-right: 16px;
        position: relative;

        &:after {
            display: block;
            content: "•";
            bottom: 0;
            right: -11px;
            position: absolute;
          }
    }
}