.header {
    margin-bottom: 30px;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // border-bottom: 1px solid black;

        height: 100px;
    }

    &__logo {
        img {
            max-height: 100px;
            margin: 0 0 -20px 20px;
        }

        a:hover {
            text-decoration: none;
        }
    }

    &__title-text {
        font-size: $font-size-large;
        font-family: $font-sans-serif;
        
    }
}