
blockquote {
  margin: 0.3em 0 1.8em;
  padding: 0 1.6em 0 1.6em;
  border-left: $color-brand 0.5em solid;
  font-family: $font-sans-serif;

  p {
    margin: 0.8em 0;
    font-size: 1.2em;
    line-height: 1.4;
    font-weight: 700;
  }

  small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;

    /* Quotation marks */
    &:before {
      content: "\2014 \00A0";
    }
  }

  cite {
    font-weight: bold;

    a {
      font-weight: normal;
    }
  }

}
