html {font-size: 137.5%;} /*22px*/

body {
    color: $color-text;
    font-family: $font-serif;
    line-height: 1.65;
    font-weight: 400;
    background-color: $bg-color;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}